@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::selection {
  background-color: #36cdff;
  color: #ffffff;
}
::-moz-selection {
  background-color: #36cdff;
  color: #ffffff;
}

body {
    font-family: "Quicksand", sans-serif;
  background: #101218;
  position: relative;
  overflow-x: hidden;
}
body.load::before {
  transform: scalex(1) !important;
  opacity: 1;
}

body::before {
  content: "";
  position: absolute;
  transform-origin: top center;
  transform: scale(0);
  opacity: 0;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: linear-gradient(
    to right in oklch,
    #f63b35 0%,
    #f63b35 3%,
    #1265f0 7%,
    #477dff 17%,
    #2caf4f 20%,
    #72bb44 25%,
    #ffe523 27%,
    #ffcc25 30%,
    #ea4335 33%,
    #ea4335 45%,
    #1265f0 49%,
    #477dff 68%,
    #34a853 72%,
    #2caf4f 79%,
    #ffe523 82%,
    #ffcc25 87%,
    #f63b35 90%,
    #f63b35 100%
  );
  z-index: 2;
  background-size: 600% auto;
  animation: moveBg 80s linear infinite;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

body.load::after {
  transform: scale(1) !important;
  opacity: 1 !important;
}

body::after {
  content: "";
  position: absolute;
  transform-origin: top center;
  transform: scale(0);
  opacity: 0;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  top: 0;
  left: 0;
  right: 0;
  height: 12px;
  background: linear-gradient(
    to right in oklch,
    #f63b35 0%,
    #f63b35 3%,
    #1265f0 7%,
    #477dff 17%,
    #2caf4f 20%,
    #72bb44 25%,
    #ffe523 27%,
    #ffcc25 30%,
    #ea4335 33%,
    #ea4335 45%,
    #1265f0 49%,
    #477dff 68%,
    #34a853 72%,
    #2caf4f 79%,
    #ffe523 82%,
    #ffcc25 87%,
    #f63b35 90%,
    #f63b35 100%
  );
  background-size: 600% auto;
  filter: blur(50px);
  opacity: 0.6;
  animation: moveBg 80s linear infinite;
  z-index: 1;
}

@keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -600% 0%;
  }
}
