@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* width */
::-webkit-scrollbar {
  width: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

::selection {
  background-color: #36cdff;
  color: #ffffff;
}
::-moz-selection {
  background-color: #36cdff;
  color: #ffffff;
}

p,span,button,strong {
  font-family: "Manrope", sans-serif;
}

body {
  font-family: "Quicksand", sans-serif;
  background: #101218;
  position: relative;
  overflow-x: hidden;
}

